
<!DOCTYPE html>
<html>
<head>
	  <link rel="icon" href="../images/logo2.png" type="image/png">
	  <meta charset="UTF-8">
	  <title>{{title}}</title>
  </head>
  <body>
	<fieldset>
		<script src="https://code.jquery.com/jquery-1.11.1.js"></script>	
		<legend>계정 생성</legend>
		<form action="/login" method="post" enctype="application/x-www-form-urlencoded" >
			<div>
				<input type="text" class='id' name="id" placeholder="아이디를 입력하세요"> <button type='button' class='check'>중복 검사</button>
				<span class='true' style='color:green'>적합한 아이디입니다.</span><input type='hidden' class='valid' value=false>
			</div>
			<div>
				<input type="text" class="name" name="name" placeholder="닉네임을 입력하세요" >
			</div>
			<div>
				<input type="password" class="pw" name="pw" placeholder="비밀번호(없으면 공개방)">
			</div>
			<div>
				<button type="button" class='pass' >가입</button>
			</div>
		</form>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script>
			$('.true').hide();

			$('.check').on('click', function(){
				var id = $('.id').val();
				var suc= $('.suc').val();
				if(id!=undefined){
					// console.log(id);
					axios.get('/login/check/'+id).then(result=>{
						console.log(result.data.length);
						if(result.data.length != 0){
							alert('이미 존재하는 아이디입니다');
							$('.id').val('');
							$('.id').focus();
						}else{
							$('.check').hide();
							$('.valid').val(true);
							$('.true').show();
						}
					})
				}
			})
			$('.pass').on('click',function(){
				var id = $('.id').val();
				var pw = $('.pw').val();
				var name = $('.name').val();
				var valid = $('.valid').val();
				if(valid == 'false'){
					alert('중복성 체크를 해주세요');
				}else{
					if(!id){
						alert('id를 입력해주세요');
					}else{
						if(!pw){
							alert('passWord를 입력해주세요');
						}else{
							if(!name){
								alert('이름을 입력해주세요');
							}else{
								$('form').submit();
								$('.valid').val(false);
								alert('회원가입 되었습니다.');
							}
						}
					}
				}
			})
		</script>
	</fieldset>
</body>
</html>